*.retry
cfc*
.vagrant
.DS_Store
.private

license_accepted
cluster/ssh_key
cluster/ssh_key.pub

nutanix/cluster-vms.json
nutanix/cluster-vgs.json

# terraform
.tfstate
.backup
.terraform*

# eclipse
.project
.pydevproject

